* {
    box-sizing: margin-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "SF Text";
    color: white;
    width: 1080px;
    margin: 0 auto;
    font-weight: 100;
}

.grid-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto auto auto;
    align-content: space-evenly;
    margin: 40px;
}

.itemOutput {
    grid-column: 1 / span 4;
}

h1 {
    text-align: right;
    font-size: 12em;
    padding: 150px 50px 20px;
}

.itemZero {
    grid-column: 1 / span 2;
    text-align: center;
}

.zero {
    text-align: left;
    padding-left: 85px;
    width: 470px;
}

.grid-item {
    text-align: center;
}


button {
    background-color: #ffffff33;
    border: none;
    color: white;
    border-radius: 110px;
    font-size: 6em;
    height: 220px;
    width: 220px;
    font-family: "SF Text";
    font-weight: 200;
}

.lightGray {
    background-color: #ffffffa6;
    color: black;
}

.orange {
    background-color: orange;
    font-size: 7em;
}

button:hover {
    background-color: #ffffff43;
}

.lightGray:hover {
    background-color: #ffffffc6;
}

.orange:hover {
    background-color: red;
}